<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Estudiantes</title>
</head>
<body>
<h1>Lista de Estudiantes</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="estudiante : ${estudiantes}">
        <td th:text="${estudiante.id}">1</td>
        <td th:text="${estudiante.name}">Nombre</td>
        <td>
            <a th:href="@{/estudiantes/{id}(id=${estudiante.id})}">Ver Detalles</a>
            <a th:href="@{/estudiantes/borrar/{id}(id=${estudiante.id})}" >Eliminar</a>
            <a th:href="@{/estudiantes/editar/{id}(id=${estudiante.id})}" >Editar</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/estudiantes/nuevo">Agregar Estudiante</a>
</body>
</html>
